# .npmignore
node_modules
test
demo
.idea/
grpc/

# CI
coverage
.eslintrc.js
.eslintignore
.node-version
checkstyle-results.xml
checkstyle-result.xml
.github
.vscode

# gRPC
*.proto

# coverage
.nyc_output
.nycrc