# This is a basic workflow to help you get started with Actions

name: CI

on: [push, pull_request]

env:
  TARGET_COVERAGE_NODE_VERSION: '20'

jobs:
  report-coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
      checks: write
    strategy:
      matrix:
        node_version:
          - 18
          - 20
          - 22

    name: Node ${{ matrix.node_version }} on ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup node environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm install
      - run: npm test
      # - name: Lint
      #   if: matrix.node_version == env.TARGET_COVERAGE_NODE_VERSION
      #   run: npm run lint
      # - name: Upload checkstyle report
      #   if: matrix.node_version == env.TARGET_COVERAGE_NODE_VERSION
      #   uses: jwgmeligmeyling/checkstyle-github-action@master
      #   with:
      #     path: '**/checkstyle-result.xml'
      - name: Coverage
        if: matrix.node_version == env.TARGET_COVERAGE_NODE_VERSION
        run: npm run coverage
      - name: Setup LCOV
        if: matrix.node_version == env.TARGET_COVERAGE_NODE_VERSION
        uses: hrishikesh-kadam/setup-lcov@v1
        with:
          ref: v1.16
      - name: Report code coverag
        if: matrix.node_version == env.TARGET_COVERAGE_NODE_VERSION
        uses: zgosalvez/github-actions-report-lcov@v4
        with:
          coverage-files: coverage/lcov.info
          artifact-name: code-coverage-report
          github-token: ${{ secrets.REPO_TOKEN }}
          update-comment: true
